@import url(https://fonts.googleapis.com/css?family=Roboto:500);

html,
body {
  height: 100%;
  /* Makes sure the height of the body is full viewport height */
  margin: 0;
  /* Removes default margin */
  background-color: #FFFFFF;
  /* Optional: Sets a background color */
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

h1,
h2,
h3 {
  color: #533747;
}

/* number of events */

.NOE {
  width: 40px;
}

#number-of-events {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#number-of-events input {
  width: 40px;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-top: 10px;
}

/* city search */

.city {
  width: 250px;
}

.city:hover {
  background-color: #d8d8d8;
  transition: ease-in-out 0.5s;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: white;
  cursor: default;
}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #bcdcdb;
}

/* events list */

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 800px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: #E5E5E5;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in-out 0.5s;
}

.event:hover {
transform: scale(1.02);
box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.507);
}

.event p {
  margin-right: 10%;
  margin-left: 10%;
}

#event-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-btn {
  margin-top: 20px;
  background-color: #5F506B;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 8px;
  transition: transform .5s;
}

.details-btn:hover {
  transform: scale(1.05);
}


.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

/* Alerts */
.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

/* Charts */
.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}